body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.app-container {
max-width: 1600px;
margin: 0 auto;
padding: 2rem;
font-family: 'Segoe UI', sans-serif;
background: #000000;
border-radius: 8px;
}

.titulo {
text-align: center;
color: #00a6ff;
}

.descripcion {
text-align: center;
color: #ffffff;
font-size: 1rem;
}

.list{
    text-align: left;
    color:#ffffff;
    font-size: 1.1rem;
    margin-left: 20px;
}

.formulario {
display: flex;
flex-direction: column;
gap: 1rem;
}


.campo {
padding: 0.5rem;
font-size: 1rem;
border: 3px solid #007bff;
border-radius: 4px;
}

.campo:hover{
    border-color: #01b3ff;
}

.lista-usuarios {
  margin-top: 2rem;
  color: #00b7ff;
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
}

.lista-usuarios li {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 0.5rem;
}

.boton {
padding: 0.6rem;
background-color: #007bff;
color: rgb(255, 255, 255);
border: none;
border-radius: 4px;
cursor: pointer;
}

.boton:hover {
background-color: #01b3ff;
}